<div id="footerwrap">
 	<div class="container">
	 	<div class="row">
	 		<div class="col-lg-4">
	 			<h4>About</h4>
	 			<div class="hline-w"></div>
	 			<p>I enjoyed completing this task and showing you, hopefully, a little of what I can do. I tried to keep my solution simple and elegant, yet powerful enough to meet the brief's requirements. Hope to speak to you guysI hve been impressed by Seedbox and hope to speak to the team further.</p>
	 		</div>
	 		<div class="col-lg-4">
	 			<h4>Source</h4>
	 			<div class="hline-w"></div>
	 			<p>
	 				<a href="https://github.com/smaxwellstewart/hapi-ninja/tree/seedbox">https://github.com/smaxwellstewart/hapi-ninja/tree/seedbox</a>
	 			</p>
	 		</div>
	 		<div class="col-lg-4">
	 			<h4>Contact</h4>
	 			<div class="hline-w"></div>
	 			<p>If you have any questions about what you see, feel free to contact me in the following ways:</p>
	 			<p>
	 				Email: smaxwellstewart@gmail.com<br/>
	 				Skype: smaxwellstewart<br/>
	 			</p>
	 		</div>
	 	
	 	</div><! --/row -->
 	</div><! --/container -->
</div><! --/footerwrap -->